* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hole {
    display: flex;
    height: 100vh;
}
.part {
    display: flex;
}
.h1 {
    background-color: gainsboro;
    width: 6vw;
}
.h2 {
    width: 94vw;
}
.p1 {
    display: flex;
    height: 10vh;
    width: 100%;
}
.p2 {
    display: flex;
    height: 10vh;
    width: 100%;
}
.d1 {
    height: 80vh;
    width: 20vw;
}
.d2 {
    height: 80vh;
    width: 80vw;
}
